body {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}

a:active,
a:focus {
  outline: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.header-nav__logo {
  color: #212121;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav__logo--black {
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__list li:not(:last-child) {
  margin-right: 50px;
}

.header-nav__item .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__item .link.current {
  color: #2196f3;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__item .link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-nav__item:hover, .header-nav__item:focus {
  color: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 305px;
}

.info li:first-child {
  margin-right: 30px;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mail svg {
  margin-right: 10px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
}

.mail:hover, .mail:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover svg:hover, .mail:focus svg:hover {
  fill: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.phone svg {
  margin-right: 10px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
}

.phone:hover, .phone:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover svg:hover, .phone:focus svg:hover {
  fill: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.decision {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/people.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
}

.decision__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.decision__button :hover {
  color: #212121;
  font-family: Roboto, sans-serif;
  background-color: var #ffffff;
  cursor: pointer;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__list__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.item__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
}

.item__text {
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0px;
  width: 270px;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.activ {
  margin: 0px;
  padding-bottom: 94px;
}

.activ__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 50px;
}

.activ__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activ__list li:not(:last-child) {
  margin-right: 30px;
}

.activ__img {
  position: relative;
}

.activ__img h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__prof {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__prof:not(:last-child) {
  margin-right: 30px;
}

.team__prof img {
  margin-bottom: 30px;
  margin-left: 0px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__headline {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-card {
  text-align: center;
}

.team-card__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 10px;
}

.team-card__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
  list-style: none;
}

.team-social__list:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social__link > svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-social__link:hover, .team-social__link:focus {
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover > svg, .team-social__link:focus > svg {
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
}

.clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 94px;
}

.clients-page__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-page__link:not(:last-child) {
  margin-right: 30px;
}

.clients-page__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
}

.clients-page__icon > svg {
  fill: #afb1b8;
}

.clients-page__icon {
  -webkit-transition: 250ms col cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms col cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-page__icon:hover, .clients-page__icon:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients-page__icon:hover > svg, .clients-page__icon:focus > svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-footer li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-logo {
  color: #ffffff;
}

.contacts-web {
  color: #2196f3;
}

.contacts-logo,
.contacts-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts-address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 9px;
}

.contacts-nav .link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts-nav .link-footer:hover, .contacts-nav .link-footer:focus {
  color: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  margin-left: 70px;
  margin-top: 12px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icon a {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon svg {
  fill: #ffffff;
}

.footer.list li:not(:last-child) {
  margin-right: 10px;
}

.mail-submit {
  margin-left: 93px;
  margin-top: 12px;
}

.mail-submit-title {
  width: 219px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.form-mail {
  margin-top: 20px;
}

.mail-form {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0px 15px 16px;
}

.button-submit {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  position: relative;
  text-align: left;
  padding-left: 29px;
  margin-left: 10px;
}

.button-img {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
  margin-top: 3px;
}

.project-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 94px;
}

.navigation.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.navigation.list li:not(:last-child) {
  margin-right: 8px;
}

.project.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project.list li:nth-child(3n) {
  margin-right: 0px;
  margin-bottom: 30px;
}

.project.list li:nth-child(1), .project.list li:nth-child(2), .project.list li:nth-child(4), .project.list li:nth-child(5), .project.list li:nth-child(7), .project.list li:nth-child(8) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-info {
  margin-left: -2px;
  border: 1px solid #eeeeee;
}

.project-info:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-blok {
  padding: 20px 24px;
  margin: 0;
}

.project-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-modal {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
}

.project-modal-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-modal:hover .project-modal-text {
  top: 0;
  -webkit-transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
}

.button.primary:focus, .button.primary:hover {
  color: #f5f4fa;
  background-color: #2196f3;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.modal-icon {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
}

.button-close svg {
  width: 11px;
  height: 11px;
  fill: #212121;
}

.button-close svg:hover {
  fill: #2196f3;
}

.button-close:hover {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.window-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-window {
  margin-right: 40px;
  margin-left: 40px;
}

.form-input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-style {
  border-radius: 4px;
  width: 448px;
  height: 40px;
  outline: none;
  padding-left: 42px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-style:focus, .form-style:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.form-style:focus + svg,
.form-style:hover + svg {
  fill: #2196f3;
  -webkit-transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name {
  position: relative;
}

.form-name > svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
}

.comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.comment:focus, .comment:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.agreement-hidden {
  width: 16px;
  height: 15px;
  border: #212121;
}

.agreement-label {
  position: relative;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
}

input[name="agreement"] {
  margin-right: 8.4px;
  margin-left: 12px;
  text-align: center;
}

.agreement-link {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.agreement-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.agreement-label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  top: 12px;
  left: 1px;
}

.check:checked + .agreement-label:before {
  background-color: #2196f3;
  background-image: url("../images/tick.svg");
  border-color: #2196f3;
}

.agreement-label:focus + .agreement-label:before {
  border-color: #2196f3;
  -webkit-transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-window {
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-bottom: 40px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=main.css.map */