.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  &__logo {
    color: $title-text-color;
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    &--black {
      color: $accent-color;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}
.header-nav {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-nav__item {
  & .link {
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    &.current {
      color: $accent-color;
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &.current::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: flex;
      // top: 44px;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
  &:hover,
  &:focus {
    color: $accent-color;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.info {
  display: flex;
  align-items: center;
  margin-left: 305px;
  li:first-child {
    margin-right: 30px;
  }
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  svg {
    margin-right: 10px;
    display: inline-block;
    align-items: center;
    background-size: contain;
  }
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    svg:hover {
      fill: $accent-color;
      transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  svg {
    margin-right: 10px;
    display: inline-block;
    align-items: center;
    background-size: contain;
  }
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    svg:hover {
      fill: $accent-color;
      transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
