.modal-box {
  width: 100%;
  min-height: inherit;
  position: absolute;
  top: 93px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.modal-icon {
  position: absolute;
  width: 450px;
  min-height: 609px;
  background-color: $secondary-text-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.button-close {
  width: 30px;
  height: 30px;
  background-color: $secondary-text-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;

  svg {
    width: 11px;
    height: 11px;
    fill: #212121;

    &:hover {
      fill: $accent-color;
    }
  }

  &:hover {
    fill: $accent-color;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.name {
  margin: 0 40px;
}
.window-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0 40px;
}

.form-window {
  margin: 12px 40px 0;
}

.form-input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-style {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &:focus,
  &:hover {
    border: 1px solid $accent-color;
    border-radius: 4px;
    transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus + svg,
  &:hover + svg {
    fill: $accent-color;
    transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-name {
  position: relative;

  > svg {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 15px;
  }
}

.comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  &:focus,
  &:hover {
    border: 1px solid $accent-color;
    border-radius: 4px;
    transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.agreement {
  margin-top: 20px;
  display: flex;
}

.agreement-hidden {
  width: 16px;
  height: 15px;
  border: $title-text-color;
}

.agreement-label {
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

input[name="agreement"] {
  margin-right: 8.4px;
  margin-left: 12px;
  text-align: center;
}

.agreement-link {
  color: $accent-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.agreement-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.agreement-label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  left: 0;
}

.check:checked + .agreement-label:before {
  background-color: $accent-color;
  background-image: url("../images/tick.svg");
  border-color: $accent-color;
}

.agreement-label:focus + .agreement-label:before {
  border-color: $accent-color;
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-window {
  color: $secondary-text-color;
  background-color: $accent-color;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
