.project-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}

.navigation.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.project.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

  li {
    // // &:nth-child(3n) {
    // //   margin-bottom: 30px;
    // // }

    // &:nth-child(1),
    // &:nth-child(2),
    // &:nth-child(4),
    // &:nth-child(5),
    // &:nth-child(7),
    // &:nth-child(8) {
    //   // margin-right: 30px;
    margin-bottom: 30px;
  }
}

.project-info {
  // margin-left: -2px;
  border: 1px solid #eeeeee;
  margin-left: 15px;
  margin-right: 15px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-blok {
  padding: 20px 24px;
  margin: 0;
}

.project-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-modal {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
}

.project-modal-text {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-modal:hover .project-modal-text {
  top: 0;
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  &:focus,
  &:hover {
    color: $secondary-bg-color;
    background-color: $accent-color;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  }

  color: $title-text-color;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) {
  .project-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 94px;
  }

  .navigation.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    li:not(:last-child) {
      margin-right: 8px;
    }
  }

  .project.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      &:nth-child(3n) {
        margin-right: 0px;
        margin-bottom: 30px;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7),
      &:nth-child(8) {
        margin-right: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .project-info {
    margin-left: -2px;
    border: 1px solid #eeeeee;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .project-blok {
    padding: 20px 24px;
    margin: 0;
  }

  .project-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  .project-text {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }

  .project-modal {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
  }

  .project-modal-text {
    position: absolute;
    left: 0;
    top: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
  }

  .project-modal:hover .project-modal-text {
    top: 0;
    transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button.primary {
    &:focus,
    &:hover {
      color: $secondary-bg-color;
      background-color: $accent-color;
      transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    }

    color: $title-text-color;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 1px solid #f5f4fa;
    padding: 6px 22px;
    border-radius: 4px;
  }
}
