$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$secondary-text-color: #ffffff;
$secondary-bg-color: #f5f4fa;

body {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}

a:active,
a:focus {
  outline: none;
}

.container {
  width: 100%;
  min-height: inherit;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    max-width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}
